.mb-1 {
    text-align: left;
}
.comment-btn {
    font-size: 13px;
    border-color: transparent !important;
    justify-self: left;
    display: flex;
    text-justify: distribute;
}
.flex-box {
    display: flex;
    flex-direction: row;
}
