.mb-1 {
    text-align: left;
}
.comment-btn {
    font-size: 13px;
    border-color: transparent !important;
    justify-self: left;
    display: flex;
    text-justify: distribute;
}
.flex-box {
    display: flex;
    flex-direction: row;
}
.username-image-default {
    background-color: rgb(65, 102, 194) !important;
}
.alertLogin {
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}