.user-page {
  padding: 20px;
}

.user-header {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.video-card {
  width: 320px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
  height: 250px;
}

.video-card:hover {
  transform: scale(1.05);
}
.video-info {
  padding: 10px;
}

.video-title {
  font-size: 14px;
  margin-bottom: 5px;
}

.video-description {
  font-size: 0.9em;
  color: #555;
}

.video-views,
.video-duration {
  font-size: 0.8em;
  color: #888;
}
.video-user-image {
  width: 320px;
  height: 180px;
  border-radius: 12px;
}
.duration-user-video {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1px 3px;
  font-size: 11px;
  border-radius: 3px;
}
.for-you-videos {
  font-weight: 700;
}
.user-page-image {
  border-radius: 100px;
  width: 120px;
  height: 120px;
}