#logInWindow {
    background-color:rgb(224, 239, 244) !important;
    color: black !important;
    height: 100vh;
    width: 400vh;
    
}

#logInWindow_background {
    top: 50px;
    left: 200px;
    width: 900px;
    height: 500px;
    border-radius: 15px;
    position: relative;
    background-color:white !important;
    color: black !important;
}
.login {
    background-color:white !important;
    color: black !important;
}

#logInWindow_part1 {
    top: 60px;
    left: 60px;
    width: 300px;
    height: 300px;
    position: relative;
    float: left;
    background-color:white !important;
    color: black !important;
}

.logInWindow_img {
    position: relative;
    right: 45px;
    bottom: 60px;
    background-color:white !important;
    color: black !important;
}


#logInWindow_logIn {
    bottom: 100px;
    font-size: 30pt;
    position: relative;
    background-color:white !important;
    color: black !important;
}

#logInWindow_toContinue {
    bottom: 100px;
    font-size: 12pt;
    position: relative;
    background-color:white !important;
    color: black !important;
}

#logInWindow_part2 {
    top: 80px;
    left: 80px;
    width: 400px;
    height: 100px;
    position: relative;
    display: inline-grid;
    background-color:white !important;
    color: black !important;
}

#logInWindow_textInput {
    display: inline-grid;
    width: 400px;
    height: 50px;
    text-align: left;
    position: relative;
    font-size: 12pt;
    margin: 10px;
    background-color:white !important;
    color: black !important;
}

#logInWindow_textInput2 {
    display: inline-grid;
    width: 400px;
    height: 50px;
    text-align: left;
    position: relative;
    font-size: 12pt;
    margin: 10px;
    background-color:white !important;
    color: black !important;
}

#logInWindow_buttons {
    display: inline-flex;
    background-color:white !important;
    color: black !important;
}

#logInWindow_signInButton {
    width: 90px;
    height: 40px;
    border-radius: 15px;
    color:white !important;
    left: 100px;
    float: left;
    font-size: 13pt;
    display:table-cell;
    background-color: rgb(33, 93, 234) !important;
    border-color: transparent;
}

#logInWindow_logInButton {
    width: 90px;
    height: 40px;
    border-radius: 15px;
    color:white !important;
    float: right;
    font-size: 13pt;
    display:table-cell;
    background-color: rgb(33, 93, 234) !important;
    border-color: transparent;
}

#connectPart{
    top: 200px;
    background-color:white !important;
    color: black !important;
}