.video-img {
    width: 300px;
    height: 200px;
}

.card-text-sidebar {
    margin-bottom: 0.5rem;
    font-size: 13px;

}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding: 0;
    display: block;
}


.container {
    padding: 0;
}

.card-title-sidebar {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.ml-3-video-side-bar {
    margin-left: 1rem;
    padding: 0;
    text-align: start;
}