.video {
    border-radius: 10px;
    width: 60vw;
    height: 70vh;
}

.btn-group {
    margin-right: 0px;
    width: 15%;
}

.share {
    font-size: 15px !important;
    font-weight: 500;
}

.uploader {
    font-size: 15px;
    font-weight: 400 !important;
    margin-left: 10px;
    margin-top: 10px;
}

.title-video-watch {
    font-weight: 500;
    text-align: left !important;
    font-size: 14px;
}
.title-video-watch:hover {
    cursor: pointer;
}
.username-image:hover {
    cursor: pointer;
}

.watch-video-title {
    font-size: 18px !important;
}

.light-mode {
    --background-color: #ffffff;
    --color: #000000;
}

.dark-mode {
    --background-color: #222222;
    --color: #ffffff;
}

.card-body {
    background-color: var(--background-color);
    color: var(--color);
}
.btn-secondary {
    font-weight: 500;
    align-items: right;
    display: flex;
    background-color: var(--background-color);
    color: var(--color);
    text-align:center;
    height: 5vh;
}
.btn {
    font-weight: 500;
    align-items: right;
    display: flex;
    background-color: var(--background-color);
    color: var(--color);
    text-align:center;
    height: 5vh;
    border-color: #000000;
}
.mb-3 {
    background-color: var(--background-color);
    color: var(--color);
}
.share-p, .like-p {
    display: flex;
    text-align: start;
    height: 3.2vh;
}
.user-upload {
    align-items: start;
    display: flex;
    margin-top: 8px;
}
.alertLoginVideo {
    text-justify: end;
    justify-content: end;
    align-items: end;
    display: flex;
    margin-left: 700px;
}
.username-image {
    background-color: slateblue;
}

