.video {
    border-radius: 10px;
    width: 850px;
    height: 450px;
}
.card-title {
    text-align: left !important;
}

.card-text {
    text-align: left !important;
    font-size: 14px;
}
.btn-group {
    margin-right: 0px;
    width: 15%;
}

.share {
    font-size: 15px !important;
    font-weight: 500;
}
.btn-secondary {
    font-weight: 500;
    align-items: right;
    display: flex;
    
}
.uploader {
    font-size: 15px;
    font-weight: 400 !important;
}

.title-video-watch {
    font-weight: 500;
}