.me-2 {
    border-radius: 8px;
    width: 400px;
    border-color: grey;
    border-width: 1px;
}

.btn {
    border-radius: 8px;
    border-color: grey;
    border-width: 1px;
    color: transparent;
    align-items: center;
    text-align: center;
}



.img {
    width: 18px;
    height: 18px;
}

.logo {
    width: 29px;
    height: 29px;
    justify-items: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.navbar-brand {
    font-weight: 700;
    background-color: var(--background-color);
    color: var(--color);
}

.serach {
    width: 75vh !important;
    border-radius: 20px;
    background-color: var(--background-color);
    color: var(--color);
}

.light-mode {
    --background-color: #ffffff;
    --color: #000000;
    --border-color: #000000;
}

.dark-mode {
    --background-color: #222222;
    --color: #ffffff;
    --border-color: #e2e1e1;
}

* {
    background-color: var(--background-color);
    color: var(--color);
}

.sign-in, .mode{
    font-size: 14px;
    border-radius: 15px;
    color: var(--color);
    border-color: var(--border-color);
    font-weight: 200;
    border-width: 0.2ch;
    background-color: var(--background-color);
    color: var(--color);
}
