.me-2 {
    border-radius: 8px;
    width: 400px;
    border-color: grey;
    border-width: 1px;
}

.btn-search {
    height: 10px;
    border-radius: 15px;
    border-color: grey;
    border-width: 1px;
    color: transparent;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 40px;
}


.img {
    width: 18px;
    height: 18px;
}

.logo {
    width: 29px;
    height: 29px;
    justify-items: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.navbar-brand {
    font-weight: 700;
    background-color: var(--background-color);
    color: var(--color);
}

.search {
    width: 500px !important;
    border-radius: 20px;
    background-color: var(--background-color);
    color: var(--color);
}

.light-mode {
    --background-color: #ffffff;
    --color: #000000;
    --border-color: #000000;
}

.dark-mode {
    --background-color: #222222;
    --color: #ffffff;
    --border-color: #e2e1e1;
}

* {
    background-color: var(--background-color);
    color: var(--color);
}

.sign-in, .mode{
    font-size: 14px;
    border-radius: 15px;
    color: var(--color);
    border-color: var(--border-color);
    font-weight: 200;
    border-width: 0.2ch;
    background-color: var(--background-color);
    color: var(--color);
    transition: filter 0.3s;
    margin-top: 8px;
    border-color: transparent;
}
.add-video {
    border-radius: 20px;
    border-color: transparent;
    margin-top: 0px;
    transition: filter 0.3s;
    vertical-align: middle;
}
.add-video:hover {
    filter: brightness(1.3);
}
.mode:hover {
    filter: brightness(1.3);
}
.sign-in:hover {
    filter: brightness(1.3);
}
.add-item {
    vertical-align: middle;
}