.video-image {
    width: 340px;
    height: 210px;
    border-radius: 8px;
    transition: filter 0.3s ease;
}
.video-image:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.card {
    border: 0;
}

.card-text {
    font-size: 13px;
}
.card-title {
    font-weight: 700;
}
.card-video {
    flex-direction: row !important;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
}