.light-mode {
    --background-color: #ffffff;
    --color: #000000;
}

.dark-mode {
    --background-color: #222222;
    --color: #ffffff;
}

* {
    background-color: var(--background-color);
    color: var(--color);
}

.col-video {
    margin-left: 30px;
}